<h2>Modelos de Produtos</h2>

<% if @products_models.any? %>
  <% @products_models.each do |pm|  %>
    <div>
      <h3><%= pm.name  %></h3>
      <dl>
        <dt>SKU</dt>
        <dd><%= pm.sku  %></dd>
        <dt>Fornecedor</dt>
        <dd><%= pm.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end %>
<% else  %>
  <p>Nenhum modelo de produto cadastrado.</p>
<% end %>