<h1>Galpões & Estoques</h1>

<h2>Galpões</h2>
<% @warehouses.each do |w| %>
  <div>
    Nome: <%= link_to(w.name, warehouse_path(w.id)) %>
  </div>
  <div>
   Código: <%= w.cod %>
  </div>
  <div>
    Cidade: <%= w.city  %>
  </div>
  <div>
    Área: <%= w.area %> m²
  </div>
<% end %>

<% if  @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% end %>